<script>
	export let name;
	let arr =[1,2,3,4,5]

	function rem(idx,e){
		console.log(e)
		// arr.splice(idx,1)
		//arr=arr
		arr = arr.filter((m,i)=> i!=idx)
		
	}
</script>

<main>
	{#each arr as item,i}
		 <p on:click={(e)=>rem(i,e)}
			class='item'>{item}</p>
	{:else}
		 <h1>Arr is empty</h1>
	{/each}
	<h1>Hello {name}!</h1>
	<p>Visit the <a href="https://svelte.dev/tutorial">Svelte tutorial</a> to learn how to build Svelte apps.</p>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}
.item{
	cursor: pointer;
}


	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>